* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Console", "Courier New", monospace;
  box-sizing: border-box;
}

body {
  background: #080808;
  color: #fff;
  display: inline-block;
  overflow-y: hidden;
  overflow-x: hidden;
}

.h1-logo span {
  color: #d6004c;
}

::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #ff69b4; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Border radius of the thumb */
}

/* Hover effect for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #ff1493; /* Color of the thumb on hover */
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(images/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dark-mode {
  background: #080808;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode .contact-form input,
.dark-mode .contact-form textarea {
  background-color: #444;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Light Mode Styles */
.light-mode {
  background: #fff;
  color: #000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.light-mode h1.sub-title,
.light-mode p,
.light-mode li,
.light-mode h2,
.light-mode label,
.light-mode h1 {
  color: #000;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.light-mode .about-col-1 img,
.light-mode .portfolio-item img {
  box-shadow: 20px 20px 10px grey;
}

.light-mode .services-list div {
  background: #c404ebe0;
  box-shadow: 20px 20px 10px grey;
  transition: 0.5s;
}

.light-mode .home-buttons a {
  background-color: #fff;
}

.light-mode .services-list div:hover {
  background: #87ceeb;
  transform: scale(1.2, 1.2);
  box-shadow: none;
}

.light-mode .contact-form input,
.light-mode .contact-form textarea {
  background-color: #f0f0f0;
  color: #000;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transition */
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 15px;
}

.logo {
  width: 250px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #818589;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.home-buttons {
  margin-top: 50px;

}

.home-buttons a {
  text-align: center;
  padding-top: 15px;
  
  background-color: #080808;
  padding-right: 35px;
  padding-left: 35px;
  border-style: solid;
  border-color: #ff004f;
  font-size: 20px;
  padding-bottom: 15px;
  border-radius: 5px;
  color: #ff004f;  
  margin-right: 20px;
  border-width: 1px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
  display: inline-block;
  text-decoration: none;
}

.home-buttons a:hover {
	background-color: #ff004f;
	color: white;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}

.header-text h1 span {
  color: #ff004f;
}

/* --------- about ---------- */

#about {
  padding: 80px 0;
  color: #ffff;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 30%;
}

.about-col-1 img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 65%;
}

.about-col-2 h1 span {
  color: #ff004f;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.about-col-2 p {
  text-align: justify;
  margin-top: 20px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
  font-size: 17px;
}

.tab-contents ul li span {
  color: #ff004f;
  font-size: 15px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* --------- services ---------- */
#services {
  padding: 250px 0;
}

#services h1 {
  text-align: center;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-bottom: 15px;
}

.services-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-right: 10px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
  display: inline-block;
  font-weight: bold;
}

.services-list div:hover {
  background: #ff005180;
  transform: scale(1.2, 1.2);
}
/* --------- portfolio ---------- */
#portfolio {
  padding: 60px 0;
}

#portfolio h1 {
  text-align: center;
  margin-bottom: 25px;
}

.portfolio-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}

.portfolio-item {
  border-radius: 10px;
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
  padding: 20px;
  text-align: center;
}

.portfolio-item img {
  max-width: 100%;
  height: 350px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.portfolio-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.portfolio-item p {
  font-size: 16px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff004f;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #d6004c;
}

/* --------- contact ---------- */
#contact {
  padding: 250px 0;
  color: #fff;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
}

.contact-form h2 {
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #444; /* Darker shade of grey for dark mode */
  color: #fff; /* Text color */
}

.form-group textarea {
  resize: vertical;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff004f;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #d6004c;
}

nav .fa-solid {
  display: none;
}

div .portfolio-items p {
  text-align: justify;
}

@media only screen and (max-width: 1200px) {
	.portfolio-item img {
	max-width: 100%;
	height: auto;
  }
}

@media only screen and (max-width: 1050px) {
	
	nav .fa-solid {
	   display: block;
	}
	
	nav ul .fa-solid {
		position: absolute;
		top: 25px;
		left: 25px;
		cursor: pointer;
  }
  
  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul li a {
    color: white;
  }
  
  nav ul {
    background-color: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  
  .about-col-1 {
    margin-bottom: 30px;
  }

  .about-col-2 {
    margin-bottom: 14px;
  }
}



@media only screen and (max-width: 600px) {
  /* Adjust header text size */
  .header-text {
    margin-top: 40%;
    font-size: 30px;
  }

  #header {
    background-size: auto;
    padding: 0px;
  }
  
  .home-buttons a {
	margin-bottom: 10px;
	padding-right: 34px;
  padding-left: 34px;
  }
  
  .home-buttons a span {
	display: none;
  }
  
  .portfolio-item img {
	max-width: 100%;
	height: auto;
  }

  nav ul {
    background-color: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-1 {
    margin-bottom: 30px;
  }

  .about-col-2 {
    margin-bottom: 14px;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul li a {
    color: white;
  }

  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  nav .fa-solid {
    display: block;
    font: 25px;
  }

  /* Adjust header h1 size */
  .header-text h1 {
    font-size: 60px;
    margin-top: 15%;
  }

  body {
    overflow-x: hidden;
  }

  /* Adjust about column image size */
  .about-col-1 img {
    border-radius: 10px;
  }

  /* Adjust tab links margin */
  .tab-links {
    margin-right: 20px;
    font-size: 16px;
  }

  /* Adjust portfolio item grid */
  .portfolio-items {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }

  /* Adjust portfolio item font size */
  .portfolio-item h3 {
    font-size: 18px;
  }

  .portfolio-item p {
    font-size: 14px;
  }

  /* Adjust contact form width */
  .contact-form {
    max-width: 100%;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

/* Adjust image width */